<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Display Pizza Order</title>
  </head>
  <body>
    <h1>Your Pizza</h1>
    <table>
      <thead>
        <tr>
          <td>Size:</td>
          <td>{{size}}</td>
        </tr>
        <tr>
          <td>Toppings:</td>
          <td>{{toppings}}</td>
        </tr>
        <tr>
          <td>Gluten-Free Crust:</td>
          <td>{{glutenFree}}</td>
        </tr>
        <tr>
          <td>Price:</td>
          <td>{{price}}</td>
        </tr>
      </thead>
    </table>
    <a href="BuildAnotherPizza">Build another pizza</a>
    <div class="backHome">
      <a class="backToHome" href="/back-to-homepage">Back to Homepage</a>
    </div>
  </body>
</html>