<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Home Page</title>
  </head>
  <body>
    <div class="homePage-container">
      <h1>Welcome to Express Pizza</h1>
      <h3>Speciality Pizzas</h3>

      {{#each pizzas}}
        <ul>
          <li><a href="/pizza-details/{{name}}">{{name}}</a></li>
        </ul>
      {{/each}}

      <h3>Custom Pizza</h3>
      <a class="buildOwnPizza" href="build-your-own">Build your own</a>
      <h3>Leave a review</h3>
      <a class="review" href="click-here-review">Click here to leave a review</a>
      <div class="pizza">
        <img class="pizzaImage" src="pizzaSlice1.jpeg" alt="pizza" />
      </div>
    </div>
  </body>
</html>