@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Hubballi&family=Indie+Flower&display=swap");

body {
  padding: 10px;
  font-family: "Indie Flower", cursive;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homePage-container {
  border: 2px solid black;
  width: 470px;
  padding: 10px;
}

h1 {
  font-weight: 900;
  margin: 0;
  font-size: 2.4rem;
  color: chocolate;
  background-color: rgb(219, 217, 217);
  text-align: center;
}

.links {
  font-size: 1.5rem;
  color: blue;
}

.buildOwnPizza,
.review {
  font-family: "Hubballi", cursive;
  font-size: 1.7rem;
}

li a {
  color: blue;
  font-size: 1.5rem;
}

.toppingsList li {
  padding: 5px 0;
}

ul {
  margin: 0;
  padding-left: 12px;
}

h3 {
  font-size: 2rem;
}

.pizzaImage {
  width: 200px;
  background: none;
}

.pizza {
  margin-top: 20px;
}

.reviewPage {
  border: 2px solid black;
  padding: 10px;
  width: 430px;
}

label {
  font-size: 1.3rem;
  font-family: "Architects Daughter", cursive;
  margin-top: 10px;
}

.displayReview {
  border: 1px solid black;
  width: 450px;
  padding: 10px;
}

.pizzaDetails {
  font-family: "Architects Daughter", cursive;
  border: 1px solid black;
  width: 550px;
  padding: 10px;
}

.detailedPizza {
  font-size: 1.6rem;
  font-weight: 900;
}

.pizzaDetailsTable {
  padding: 10px 0;
}

.backToHome.backToHomePage {
  margin-left: 0;
}

.backToHome {
  font-family: "Hubballi", cursive;
  font-size: 1.5rem;
  color: blue;
  margin-left: 10px;
}

.backHome {
  margin-top: 10px;
}

td {
  font-family: "Hubballi", cursive;
}

.pizzaName {
  font-family: "Architects Daughter", cursive;
}

.pizzaPrice,
.pizzaName {
  padding: 10px;
  font-size: 1.4rem;
}

.neverMind {
  color: blue;
  margin-left: 10px;
  font-size: 1.4rem;
}

.submitNever {
  margin-top: 10px;
}

.yourNameHere,
.yourCommentHere,
.yourRatingHere {
  font-size: 1.6rem;
  font-weight: 900;
  padding: 10px 0;
}

.yourName,
.yourComment {
  font-family: "Architects Daughter", cursive;
  font-size: 1.2rem;
}

.yourRating {
  font-size: 1.4rem;
  font-family: "Hubballi", cursive;
}

.toppingsList {
  font-family: "Hubballi", cursive;
  font-size: 1.2rem;
}

.displayPizzaOrder {
  border: 2px solid black;
  width: 550px;
  padding: 10px;
}

.reviewPageDetails {
  padding: 10px 0;
}

.DisplayPizzaOrderTable {
  font-size: 1.2rem;
}

.para {
  color: crimson;
  font-family: "Hubballi", cursive;
  font-size: 1.5rem;
}

.buildAnotherPizza {
  font-family: "Hubballi", cursive;
  font-size: 1.4rem;
  margin-right: 10px;
  color: blue;
}

.dispalyOrder {
  font-size: 1.3rem;
  font-weight: 900;
  margin: 10px 0;
}

.displayPizzaOrderDetails {
  font-size: 1.2rem;
  font-family: "Hubballi", cursive;
}

.displayPizzaOrderContainer {
  border: 2px solid black;
  width: 550px;
  padding: 10px;
}

/* span {
  font-family: "Architects Daughter", cursive;
} */

.asciipipe {
  font-family: sans-serif;
  font-weight: 600;
}

.buildPizzaAscii {
  display: flex;
  align-items: center;
}

.customPizzaContainer {
  border: 2px solid black;
  width: 550px;
  padding: 10px;
}
